Web/msys22/Lib
Javascript/Lab1-EstreraTomasGael/
Javascript/Lab2-EstreraTomasGael/
Web/SalesApp/Inventory/__pycache__/
Web/SalesApp/Inventory/migrations/__pycache__/
*.class
*.DS_Store
DjangoSQL/django/
__pycache__/
