{% extends 'tapasapp/base.html' %}
{% load static %}



                {% block content %}
                <div class="col-12">
                    <table class="table table-striped mb-5">
                        <thead>
                            <th scope="col"> Name </th>
                            <th scope="col"> Cooking Time </th>
                            <th scope="col"> Prep Time </th>
                            <th scope="col">  </th>
                        </thead>
                        <tbody>
                            {% for d in dishes %}
                            <tr>
                                <td> {{ d.name }} </td>
                                <td> {{ d.prep_time }} </td>
                                <td> {{ d.cook_time }} </td>
                                <td><a href="{% url 'view_detail' pk=d.pk %}"  class="btn btn-dark">Details</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endblock %}

            