html{
    background-color: antiquewhite;
}

.header{
    width: 100%;
    max-width: 100%;
    border: solid burlywood;
    padding: 10px;
    border-radius: 9px;
}

div.header > a {
    margin: 10px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.header > a:hover{
    background-color: brown;
    cursor: pointer;
}