html{
    background-color: antiquewhite;
}

a{
    color: black;
    text-decoration: none;
}

.header{
    max-width: 100%;
    width: 50vw;
    max-width: 100%;
    border: solid rgb(18, 85, 124);
    background-color: cadetblue;
    padding: 10px;
    border-radius: 9px;
    margin: auto;
}

.header > a{
    margin: auto;
    margin-left: 5vw;
    border-radius: 9px;
    padding: 5px;
}

.header > a:hover{
    background-color: rgb(49, 215, 233);
    cursor: pointer;
}


.unfinished.header{
    text-align: center;
    margin: auto;
    width: 25%;
    max-width: 100%;
    border: solid rgb(51, 39, 23);
    padding: 20px;
    border-radius: 9px;
    font-family: Verdana;
}
.formblock{
    margin: auto;
    max-width: 100%;
    border: solid rgb(235, 200, 157);
    border-radius: 9px;
    width: 50%;
    box-shadow: 10px 10px bisque;
    background-color: rgb(210, 174, 127);

}

.label{
    padding: 10px;
    font-family: Verdana;
    font-size: 15px;
    margin: auto;
    max-width: 100%;
    width: 50%;

}

.forminput{ 
    padding: 10px;
    margin: auto;
    max-width: 100%;
    width: 50%;
}

#id{
    display: inline-block;
}

#totalcost{
    display: inline-block;
    margin: auto;
    width: 50%;
    margin-left: 23%;
}

.Button{
    text-decoration: none;
    background-color: rgb(48, 162, 88);
    padding: 10px;
    margin: auto;
    margin-left: 25%;
    max-width: 100%;
    width: 7vw;
    text-align: center;
    border-radius: 9px;
}

.Button > *{
    color: black;
}
.Button:hover{
    cursor:pointer;
    background-color: rgb(56, 209, 110);
}

.Submit{
    font-family: Verdana;
    font-size: 15px;
    background-color: rgb(213, 193, 101);
    padding: 10px;
    width: 10vw;
    max-width: 100%;
    margin: auto;
    margin-left: 25%;
    border-radius: 9px;
    

}

.Submit:hover{
    cursor: pointer;
    background-color: rgb(84, 122, 122);
}