{% extends 'Halalan2022/base.html' %}
{% load static %}

<!-- I hereby attest to the truth of the following facts:
- I have not discussed the <programming language used> language code in my program
with anyone other than my instructor or the teaching assistants assigned to this course.
- I have not used <programming language used> language code obtained from another
student, or any other unauthorized source, either modified or unmodified.
- If any <programming language used> language code or documentation used in my
program was obtained from another source, such as a text book or course notes, that has
been clearly noted with a proper citation in the comments of my program. -->

{% block data %}

<div class="container" style="background-color:beige; max-width: 700px; padding: 10px; border-radius: 10px;
position: relative; top: -100px;">
    <div clas="row" style="padding: 10px; ">
        <h1>Who is Gael Estrera?</h1>
    </div>
    <div class="row" style="margin-left: 10px; margin-right: 10px; line-height: 40px;">
        Tomas Gael Pagsanjan Estrera IV is the creator of this Halalan 2022 website. He programmed and designed this website
        by himself. He used the Django framework which utilizes a views-urls-template format, and he also utilized bootstrap
        as provided and suggested by his Programming 2 professor, Paolo Agloro. At the creation of this website, Gael Estrera was
        a<i>2 BS MIS </i> &nbsp student in Ateneo de Manila University. Gael Estrera decided to do this project 
        <span style='margin-left:-2px;'> solo in order to hone, sharpen, and improve his programming skills. </span> 
    </div>
    <div class="row" style="margin-left: 10px; margin-right: 10px; line-height: 40px; margin-top: 30px;">
        <h2> Hobbies </h2> 
    </div>
    <div class="row" style="margin-left: 10px; margin-right: 10px; line-height: 40px; margin-bottom: 30px;">
        Gael speedcubes (solve the Rubik's cube in less than 10 seconds) and also plays RPG games, Sandbox games (minecraft and Terraria),
        and also casual coding (fun css and game-creation programs during the introduction of his Django lessons).
    </div>

</div>
{% endblock %}