{% extends 'Halalan2022/base.html' %}
{% load static %}


<!-- I hereby attest to the truth of the following facts:
- I have not discussed the <programming language used> language code in my program
with anyone other than my instructor or the teaching assistants assigned to this course.
- I have not used <programming language used> language code obtained from another
student, or any other unauthorized source, either modified or unmodified.
- If any <programming language used> language code or documentation used in my
program was obtained from another source, such as a text book or course notes, that has
been clearly noted with a proper citation in the comments of my program. -->]


{% block data %}
<body style="background-image: url('/static/background.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
<div class="row" style="position: relative; right:-1010px; top: -150px;">
    Account logged in: {{user}}  
</div>

<form method="POST" action="{% url 'update' pk=person.pk %}">{% csrf_token %}

    <div class="container" style="width: 700px; background-color: rgb(211, 198, 181); position:relative; right: -80px; top: -100px; border-style:groove; margin-top: -50px; border-radius: 30px;">
        <div class="row" style="background-color: rgb(228, 175, 115); padding: 10px; border-radius: 30px; padding: 10px;">
            <h1 style="font-size: 27px; border-radius: 30px;"> Modify Account Details </h1>
        </div>
        <div class='row' style="padding: 10px;">
            <span style='font-family:Lucida Sans;'> Username </span> <br>
            <input type="text" class="form-control" idname="user" name="user" value="{{person.username}}"></input> <br><br>

            <span style='font-family:Lucida Sans;'> Password </span> <br>
            <input type="text" class="form-control" idname="pass" name="pass" value="{{person.password}}"> </input> <br><br>
            
            <span style='font-family:Lucida Sans;'> First Name </span>
            <span style="font-family: Lucida Sans; margin-left: 400px;"> Last Name </span>    
        </div>
        <div class="row" style="padding: 10px;">
            <input type="text" class="form-control" style="width: 150px;" idname="first" name="first" value="{{person.first_name}}"></input>
            <input type="text" class="form-control" style="width: 150px; margin-left: 335px;" idname="last" name="last" value="{{person.last_name}}"></input>
        </div>
        <div class='row' style="padding: 10px;">
            <span style='font-family:Lucida Sans;'> Sex </span> <br>  
            <span style='font-family:Lucida Sans; margin-left: 455px;'> Birthday </span> <br>
        </div>
        <div class="row" style="padding: 10px;">
            <input type="text" class="form-control" style="width: 150px;" idname="sex" name="sex" value="{{person.sex}}"></input>
            <input type="date" class="form-control" style="width: 150px; margin-left: 335px;" idname="birthday" name="birthday" value="{{person.birthday}}"></input>
        </div>
        
        <div class='row' style="padding: 10px;">
            <button class="btn" type="submit" style="margin-left:80px; width:500px; background-color: gray; color: azure; margin-bottom: 10px;"> Update </button>
        </div>
        <div class='row' style="padding: 10px;">
            <a href="{% url 'users' %}" class="btn" style="margin-left:80px; width:500px; background-color: rgb(206, 144, 63); color: azure; margin-bottom: 10px;"> Back </a>
        </div>
    </div>
</form>
</body>
{% endblock %}

