{% extends 'Myinventoryapp/base.html' %}
{% load static %}

<!-- I hereby attest to the truth of the following facts:
- I have not discussed the <programming language used> language code in my program
with anyone other than my instructor or the teaching assistants assigned to this course.
- I have not used <programming language used> language code obtained from another
student, or any other unauthorized source, either modified or unmodified.
- If any <programming language used> language code or documentation used in my
program was obtained from another source, such as a text book or course notes, that has
been clearly noted with a proper citation in the comments of my program. -->

{% block data %}

{% for a in accounts %}
{% if a.username == user %}
<div class="row">
    <h1 style="margin-top:20px;"> Active Suppliers </h1>
    <a href="{% url 'add_bottle' %}" class="btn" style="position:relative; bottom: -30px; width:150px; height: 40px; margin-left: 30px; background-color: rgb(71, 169, 226); color: azure; margin-bottom: 10px;"> Add Bottle </a>
    <a href="{% url 'logout' %}" class="btn" style="position:relative; bottom: -30px; width:150px; height: 40px; margin-left: 30px; background-color: rgb(240, 172, 70); color: azure; margin-bottom: 10px;"> Logout </a>
    <a href="{% url 'manage_account' pk=a.pk %}" class="btn" style="position:relative; bottom: -30px; width:150px; height: 40px; margin-left: 30px; background-color: rgb(18, 87, 47); color: azure; margin-bottom: 10px;"> Manage Account </a>
</div>
{% endif %}
{% endfor %}




<span style="position: relative; bottom: -35px; right: -50px;"> Account logged in: {{user}}  </span> 


{% for a in supplier %}

<div class="container" style="border: solid; margin-bottom: 10px;">
    <div class="row" style="padding: 10px;">
        <a href="{% url 'view_bottles' %}" style="margin-left:20px; margin-top: 20px; text-decoration: none; color: rgb(235, 208, 141); background-color: rgb(43, 69, 126); padding: 10px; border-radius: 20px;"> {{a.Name}} </a> 
    </div>
    <div class="row" style="padding: 10px;">
        <span style="margin-left:20px;"> - situated at {{a.City}} City in {{a.Country}} </span>
    </div>
</div>
{% endfor %}



{% endblock %}