{% extends 'Myinventoryapp/base.html' %}
{% load static %}

<!-- I hereby attest to the truth of the following facts:
- I have not discussed the <programming language used> language code in my program
with anyone other than my instructor or the teaching assistants assigned to this course.
- I have not used <programming language used> language code obtained from another
student, or any other unauthorized source, either modified or unmodified.
- If any <programming language used> language code or documentation used in my
program was obtained from another source, such as a text book or course notes, that has
been clearly noted with a proper citation in the comments of my program. -->

{% block data %}



<h1 style="margin-top:20px;"> Available Water Bottles </h1>

<div class="row">
    <a href="{% url 'view_supplier' %}" class="btn" style="border-radius: 10px; background-color: rgb(224, 222, 98); padding: 10px; height: 60px; width: 120px; margin-bottom: 10px; position: relative; right: -50px; bottom: -20px; top: -2px;" > Back to Suppliers </a>
</div>

<div class="col" style="position: relative; right:-200px; bottom: -30px;">
    Account logged in: {{user}} 
</div>

{% for o in waterbottle %}

<div class="container" style="border: solid; border-radius: 30px; margin-bottom: 10px;">
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class='col'>
            <span style="padding: 20px; margin-left: -20px;">{{o.Brand}} costs {{o.Cost}} with the size of {{o.Size}} <br><br>
            Supplied by: {{o.Suppliedby}} <br><br>
            Mouthsize of {{o.MouthSize}} <br><br>
            Color: {{o.Color}} <br><br>
            Quantity available: {{o.CurrentQuantity}} <br><br>
            Stock keeping unit: {{o.SKU}}
            </span>  
        </div>
        <div class="col">
            <a href="{% url 'view_details' pk=o.pk %}" class="btn btn-primary" style="float: right; margin-top: 10px; margin-right: 10px;"> Details </a>
        </div>
    </div>
    
</div>   
{% endfor %}



{% endblock %}