{% extends 'Inventory/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title> 
</head>
<body>

    {% block content %}
    <br>
    <div class="container">
        <div class="Largetext"> We advance the world through Technology. </div>
        <div class="shape1"> </div>



    </div>

    <div class="container">
        <div class="Largetext"> DecoreManufacturing </div>
        DecoreManufacturing is a company created and programmed by Gael Estrera to digitally 
        create and manufacture products using Nano Technology. Using Nanotech and Java, Gael was able
        to construct powerful technology to sell to people.
    </div>

    <div class="container">
        <div class="Largetext"> Purpose </div>
        Nanotech manufactured by DecoreManufacturing will have several brands which leads to 
        several types and varieties of products within the Nanotech context.
    </div>
    {% endblock %}
    
</body>
</html>