{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form method="POST" action="{% url 'order' pk=Current.pk %}">{% csrf_token %}
        <div class="formblock">
            <div class="Largetext" style="margin: auto; width: 50%;"> Order </div>
            <div class="label"> Product: {{Current.Name}} </div>
            <div class="label"> Brand: {{Current.Brand}} </div>
            <div class="label"> Color: {{Current.Color}} </div>
            <div class="label"> Cost: {{Current.Cost}} </div>
            <div class="label"> Available Stock: {{Current.Stock}} </div>
            <div class="container" style="border: transparent; width: inherit;">
                <div class="label" style="display:inline; margin: auto; margin-left: 10.5vw;"> Quantity </div>
                <select type="text" id="drop" name="drop" style="display:inline;">
                    {% for x in A %}
                        <option type="text" id="num" name="num"> {{x}} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="label"> 
                Total Cost: <input id="cost" name="totalcost">  </input> 
            </div> <br>

            <button class="Submit" id="prelim" type="submit" style="margin: auto; margin-left: 25%; width: 10vw; text-align: left;">
                Order Product 
            </button>

            <div class="Largetext" style="margin:auto; margin-left:22%; width:50%;"> Remarks </div>
            <textarea class="forminput" name="remark" type="text" style="margin:auto; margin-left:25%; width:50%; height: 20vh;"> </textarea>

            <div class="Largetext" style="margin: auto; width: 50%; max-width: 100%;"> Want to change product choice? </div>
                <a class="Button" href="{% url 'Products' %}"> Browse Products </a> 
            <br><br>
        </div>
    </form> 
    <script>
        let placeholder = document.getElementById('drop');
        let result = document.getElementById('cost');
        let prelim = document.getElementById('prelim');
        let num = '{{A}}';
        let cost = '{{Current.Cost}}';
        let def = document.getElementById('num');
        result.value = parseInt(def.value) * parseInt(cost.slice(1));

        placeholder.addEventListener('change',()=>{
            let chosen = document.getElementById('drop');
            let val = chosen.value;
            console.log(val);
            console.log(cost);
            result.value = parseInt(val) * parseInt(cost.slice(1));
        })
    </script>
    {% endblock %}
    
</body>
</html>