{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}     
        <div class="Largetext"> Available Products </div>
        {% for product in P %}
            {% for u in User %}
                {% if u.username == username %}
        <div class="container"> 
            <div class="bodytext">
                Product Name:{{product.Name}} <br>
                Product Brand: {{product.Brand}} <Br>
                Product Color: {{product.Color}} <br>
                Price: {{product.Cost}}<Br>
                Stock: {{product.Stock}}
            <a class="Button" href="{% url 'order' pk=product.pk %}" id="order"> Order Product </a>
            </div>
        </div>
        <br><Br>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endblock %}
    
</body>
</html>