{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <br><br>
    <div class="container">
        <div class="Largetext"> Who developed this web application? </div>
        <div class="bodytext"> Hi! My name is <i> Tomas Gael P. Estrera IV.</i> I'm curently a 3 BS MIS
        student in Ateneo de Manila University that is taking Enterprise Systems as Specialization in order
        to hone my software development skills! Fortunately, Ateneo de Manila's MIS curriculum is technical and
        IT-centered with some IT management courses. Hence, we become equipped with dealing with IT-related endeavors.
        Although, self-learning and hardwork are still "musts" in order to be truly great. </div>
    </div> 
    <br>

    <div class="container">
        <div class="Largetext"> What are the developer's skill/s? </div>
        <div class="bodytext"> As of now (December 25, 2022), I'm able to program efficiently in Python,
            Java, Javascript, and MySQL. In order to hone my skills, I continuously do Programming projects.
            The repository for these endeavors of mine is <a href="https://github.com/Decoretum/Programming-Development" target="_blank">https://github.com/Decoretum/Programming-Development</a>.
        </div>
    </div>
    {% endblock %}
</body>
</html>