{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <Br>
    <div class="container">
        <div class="bodytext">
            User Logged in: {{username}} <br>
            First name: {{firstname}} <Br>
            Last name: {{lastname}} <br>
            Birthday: {{birthday}} <br>
            Sex: {{sex}} <br><br>
            
            
                <a href="{% url 'logout' %}" class="LOGOUT" style="display: inline;"> Logout </a>
            
        </div>
    </div>

    <br><br>
        <div class="Largetext" style="margin: auto; margin-left: 23%; width: 5vw;">
            Product/s ordered
        </div> <br>

        {% if userobj in array %}
            {% for p in OProducts %}
            <div class="container"> 
                <div class="bodytext">

            Order {{p.pk}}: {{p.Order.Name}} with a quantity of {{p.quantity}}. Total cost of P{{p.totalcost}}. <br>
            Remarks: {{p.remarks}} 
                </div>
            </div>
            <Br><br>
            {% endfor %}

        {% elif userobj not in array %}
        <div class="container"> 
            <div class="bodytext">
            You haven't ordered a product yet!
            </div>
        </div>
        {% endif %}
        
    {% endblock %}
</body>
</html>