{% extends 'Inventory/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <Br>
    <div class="container" style="display: inline-block;">
        User Logged in: {{username}} <br>
        First name: {{firstname}} <Br>
        Last name: {{lastname}} <br>
        Birthday: {{birthday}} <br>
        Sex: {{sex}}
    </div>

    <div class="containter" style="display:inline-block; margin-left: 15%;">
        <a href="{% url 'logout' %}"> Logout </a>
    </div>

    <div class="container">
        Product/s ordered: <br> 
        {% for p in OProducts %}

        Order {{p.pk}}: {{p.Order.Name}} with a quantity of {{p.quantity}}. Total cost of P{{p.totalcost}}. <br>
        Remarks: {{p.remarks}} <br><br>
      
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>