<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <script src="../base.js" defer type="js"> </script>
</head>
<body>
    <h1> Hello world! </h1>
    <a href="/extend"> Link! </a>
    <form action="/" method="post">
        <input name="name">  </input>


        <button class="activate" type="submit"> Click this for event! </button>
    </form>
    <div class="inputs"> </div>
    
</body>
</html>